body{
	padding-top: 4em;
	padding-bottom: 3em;
	background-color: #123456;
	background-image: url('../img/16.jpg');
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
    background-position:center;
    }

    h2{
	color:white;
	text-shadow: 1px 1px 2px white, 0 0 25px red, 0 0 5px darkblue;
}
.login{
	max-width: 25em;
	padding: 1.3rem;
	margin: 0 auto;
	background-color: rgba(120,119,123,0.3);
  background:rgba(120,119,123,0.3);
  color: rgba(120,119,123,0.3);
	border-radius: 0.5em;
	-webkit-box-shadow: inset 1px 1px 22px 4px rgba(0,0,0,0.85);
	-moz-box-shadow: inset 1px 1px 22px 4px rgba(0,0,0,0.85);
	box-shadow: inset 1px 1px 22px 4px rgba(0,0,0,0.85);
	color:black;
}
#avatar{
	width: 13em;
	height: 13rem;
	margin: auto;
	margin-bottom: 1rem;
	display: block;
}
.campo{
	margin-bottom: 1em;
	border-radius: 0.2em;
	border:0;
	background-color: #fff;
	padding: 0.3em;
	text-align: center;
	height: 3em;

}
.campo:hover{
	background-color: #fff;
	outline: none;
	box-shadow: inset 0 0 8px #5aade1;
}
input{
	width: 100%;
	border-radius: 0.3em;
	height: 2em;

}
