body{
	width: 100%;
	background-image: url('../img/16.jpg');
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
    background-position:center;
    margin-top: 6%;
}
.loguin{
	max-width: 22rem;
	padding: 1.3rem;
	margin: 0 auto;
	  background-color: rgba(200,185,180,0.5);
  background:rgba(200,185,180,0.5);
  color: rgba(200,185,180,0.5);
	border-radius: 0.5em;
	color:black;
}
#avatar{
	width: 12rem;
	height: 12rem;
	margin: auto;
	margin-bottom: 1rem;
	display: block;
}
h2{
	color:white;
	text-align: center;
	margin: 0.4em;
	font-size: 30px;

}
.imagina{
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}

.imagina:hover {
    transform: scale(0.9)
}
.imagi:hover{filter:opacity(.9);}
.imagi{
    transition: transform .2s; /* Animation */
    margin: 4 auto;
}

.imagi:hover {
    transform: scale(1.1)
}