body{
	width: 100%;
	background-image: url('../img/2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
    background-position:center;
    margin-top: 9%;
}
.login{
	max-width: 25rem;
	padding: 1.3rem;
	margin: 0 auto;
	  background-color: rgba(200,185,180,0.5);
  background:rgba(200,185,180,0.5);
  color: rgba(200,185,180,0.5);
	border-radius: 0.5em;
	color:black;
}
#avatar{
	width: 12rem;
	height: 12rem;
	margin: auto;
	margin-bottom: 1rem;
	display: block;
}
h2{
	color:red;
	text-align: center;
	margin: 0.4em;
	font-size: 30px;
	
	text-shadow:rgb(150,80,100) 0px 0px 30px ,
	rgb(180, 90, 210) 0px 0px 20px,
	rgb(180, 90, 210) 0px 0px 30px,
	rgb(180, 90, 210) 0px 0px 40px,
	rgb(180, 90, 210) 0px 0px 50px,
	rgb(180, 90, 210) 0px 0px 75px;
}